/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/
/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/

.nav{
    background-color: #2081c3;
}

.nav a{
    color: #f7f9f9;
}

div{
    text-align: center;
}

#beer{
    width: 400px;
    margin: 60px;
}

a{
    background-color: #2081c3;
    margin-top: 20px;
}

.card img {
    
}